body {
  background-color: beige;
  color: black;
}

.p1 {
  font-family: "Times New Roman", Times, serif;
}


h1 {
color: IndianRed;
font-size: 36px;
text-decoration: underline;

}

h1 {
  text-align: center;
}

h2 {
  text-align: left;
}


/*
h1{
  color: purple;
}

/*
.name{
  color: purple;
}
